body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.section-1 {
  display: flex;
  background-image: url("../images/top-banner.png");
  background-repeat: no-repeat;
  margin-bottom: 150px;
}
.T-color {
  color: orange;
}
.flaxing h1 {
  font-size: 55px;
}
.flaxing {
  width: 50%;
  margin-left: 150px;
}
.flaxing img {
  width: 50em;
  margin-right: 100px;
}
.btn {
  color: white;
  background-image: linear-gradient(tomato, orange);
  padding: 10px 40px;
  border-radius: 10px;
  text-decoration: none;
}

/* first section css complete */

.section-2 {
  display: flex;
  background-image: url(../images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.flaxing-2 h1 {
  font-size: 55px;
}
.flaxing-2 p {
  width: 90%;
}
.flaxing-2 img {
  width: 45em;
  margin-left: 80px;
}
.flaxing-2 {
  width: 50%;
  margin-right: 30px;
}

/* second section css complete */
