body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.section-1 {
  display: flex;
  background-image: url("../images/top-banner.png");
  background-repeat: no-repeat;
  margin-bottom: 150px;
}
.T-color {
  color: orange;
}
.flaxing h1 {
  font-size: 55px;
}
.flaxing {
  width: 50%;
  margin-left: 150px;
}
.flaxing img {
  width: 50em;
  margin-right: 100px;
}
.btn {
  color: white;
  background-image: linear-gradient(tomato, orange);
  padding: 10px 40px;
  border-radius: 10px;
  text-decoration: none;
}

/* first section css complete */

.section-2 {
  display: flex;
  background-image: url(../images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 100px;
}
.flaxing-2 h1 {
  font-size: 55px;
}
.flaxing-2 p {
  width: 90%;
}
.flaxing-2 img {
  width: 45em;
  margin-left: 80px;
}
.flaxing-2 {
  width: 50%;
  margin-right: 30px;
}

/* second section css complete */

.section-111 {
  margin-bottom: 150px;
}
.section-3 {
  display: flex;
  background-image: url("../images/exp-bg.png");
  background-repeat: no-repeat;
  background-position-y: 200px;
}
.exp {
  font-size: 50px;
  margin-left: 30px;
  display: inline;
}
.flaxing-3 h1 {
  font-size: 40px;
}
.flaxing-3 {
  width: 40%;
  margin: 10% 5%;
  padding: 30px;
  box-shadow: 20px 20px 50px gray;
  border-left: 5px solid;
  border-radius: 10px;
  border-image: linear-gradient(tomato, orange);
  border-image-slice: 1;
}
#flaxing-last {
  border-left: 5px solid;
  border-image: linear-gradient(black, gray);
  border-image-slice: 1;
}

/* last footer section  */

footer p {
  color: gray;
  text-align: center;
}
